#myHeader {
    position: absolute;
    width: 100%;
    height: 626px;
    left: 0px;
    top: 0px;
    background: #6A79F3;
  } 

#Header {
  position: absolute;
  width: 748px;
  height: 227px;
  left: 381px;
  top: 168px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;
  } 

  .responsive {
    position: absolute;
    width: 100%;
    height: auto;
    top: 95px;
  }

  #content1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
  }

  #logo {
    position: absolute;
    left: 77px;
    top: 35.2px;
    width: 51.35px;
    height: 34.8px;
  }

  #search-bar {
    position: absolute;
    width: 663px;
    height: 68px;
    left: 419px;
    top: 355px;
    
    background: #4C5BDD;
    border-radius: 40px;

    color: #FFFFFF;

  }

  #search-bar::placeholder{
    /* position: absolute;
    width: 593px;
    height: 27px;
    left: 454px;
    top: 376px; */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
  }

  .card{
    box-sizing: border-box;

    /* width: 436px; */
    /* height: 730px; */
    top: 539px;
    margin-right: 24px;

    background: #FFFFFF;
    border: 1px solid #E4EBFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }


  .card-img-top{
    width: 436px;
    height: 404px;
    /* left: 76px; */
    /* top: 539px; */
  }

  #styled{
    width: 330px;
    height: 64px;
    line-height: 50px;
    
    background: #4C5BDD;
    border-radius: 5px;
  }
  