<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="../CSS/HomePage.css">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Inter:600,400,550,500' rel='stylesheet'>
    
    <!--  Axios library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    
    <!-- SweetAlert -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma/bulma.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <link rel="icon" href="../Icons/Logo(Purple).png">
    <title>HomePage</title>
</head>
<body>

   

<div id="homepage">

     <!-- upper portion display homepage -->
    <div class='contianer-fluid' style="padding-bottom: 10vw;" >
        <div>
            <img src="../Icons/Logo(Purple).png" id= 'logo'>
            <img src="../Icons/HomepageVector.png" id="homebgImg">
            <p id="TopHeader">
                <span style="color:black">Your</span> dream role <span style="color:black">is just a </span>learning journey <span style="color:black">away.</span>  
            </p>
            
            <p id="TopDesc">
                With Learning Journey Planner, you can explore thousands of learning journeys tailored to your preferences and needs. 
            </p> 
        </div>
        <div class="text-center" style="padding-top: 40vw;">
            <button class="button button1" @click="getDataSendtoRole()">Create Learning Journey</button>
        </div>
    </div>

     <!-- lower portion Create learning journey-->
     <div class='contianer-fluid'>
        <div>
            <img src="../Icons/Rectangle 6.png" id="semiRecImg" >
            <img src="../Icons/HomepageBottom.png" id="HomeBottomImg" >
            <p id="BottomHeader">Your learning journeys</p>
        </div>

        <!-- Empty Data -->
        <div class="text-center" v-if="AllRoles_dict.length < 1">
            <p id="BottomDesc">Oh no! you do not have any learning journays at the moment :( </p>
            <div class="text-center" v-for="roles in AllRoles_dict.slice(0, 1)" style="padding-top: 40vw;">
                <button class="button button1" @click="getDataSendtoRole(roles.LJid, roles.StaffId, roles.RoleId)">Create Learning Journey</button>
            </div>
        </div>

        <!-- With Learning Journey Data -->
        <div v-else>
            <p id="BottomDesc">Feel free to edit your previously created learning journeys.</p>
            <div class="LJboxes" v-for="roles in AllRoles_dict">
                <div class="row" style="margin: auto; font-size: 1vw;">
                    <div class="col">
                        <span style="font-size:2vw"><strong>{{roles.LJrole}}</strong></span>
                    </div>
                    <div class="col col-1">
                        <span style="color: #4C5BDD;" @click="getDataSend(roles.LJid, roles.StaffId, roles.RoleId)">Edit</span>
                    </div>
                    <div class="col col-1">
                        <span @click="deleteLJ(roles.LJid, roles.StaffId)">Delete</span>
                    </div>
                    <strong>Chosen Skills & Courses: </strong> 
                    <div>
                        <ul v-for="skills in roles.skill">
                            <li><b>Skill : </b>{{skills.SkillName}}&nbsp|&nbsp
                                
                                <strong>Courses: </strong> 
                                <span v-for="courses in Allcourses_dict">
                                    <span v-if="roles.LJid == courses.LJid && skills.SkillId==courses.SkillId">
                                        {{courses.CourseName}} &nbsp&nbsp
                                        <span class="badge rounded-pill" style="background-color: #5EE1AA" v-if="courses.CompletionStatus =='Completed'">Completed</span>&nbsp&nbsp
                                        <span class="badge rounded-pill" style="background-color: skyblue" v-else-if="courses.CompletionStatus =='OnGoing'">Ongoing</span>&nbsp&nbsp
                                        <span class="badge rounded-pill" style="background-color: red" v-else-if="courses.RegStatus=='Rejected'">Rejected</span>&nbsp&nbsp
                                        <span class="badge rounded-pill" style="background-color:  #919CF8" v-else-if="courses.RegStatus=='Registered'">Registered</span>&nbsp&nbsp
                                        <span class="badge rounded-pill" style="background-color: orange" v-else-if="courses.RegStatus=='Waitlist'">Waitlist</span>&nbsp&nbsp
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    <!-- Custom JS-->
    <script src="../js/homepage.js"></script>
    
</body>
</html>