<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Icons/Logo(Purple).png">
    <title>HR Edit Role</title>
    <!-- <link rel="stylesheet" href="../CSS/editLJ.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Inter:600,400' rel='stylesheet'>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    
    <!--  Axios library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- import Vue -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
    <!-- SWEETALERT -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma/bulma.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <style>
        #Header {
            padding-left: 100px;
            margin: auto;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 3.5vw;
            line-height: 61px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
        #logo {
            position: absolute;
            left: 77px;
            top: 35.2px;
            width: 51.35px;
            height: 34.8px;
        }
        .align-left {
        text-align: left;
        }
        /* body{
            background-color: #6A79F3;
        }

        #logo {
            position: absolute;
            left: 77px;
            top: 35.2px;
            width: 51.35px;
            height: 34.8px;
        } */
    </style>
</head>

<body>
    
    <div class='container-fluid' id="hrCreateSkill">
        <div class="row" style="background:#6A79F3;">
            <div class="row position-relative">
                <div class="row my-5">
                    <div class="col-lg-9 col-md-8"><img id='logo' src="../Icons/Component 1.png"></div>
                    <div class="col-lg-3 col-md-4">
                        <button type="button" class="btn btn-light mx-2 px-4 d-lg-inline-block" id="backBtn"
                        style="border-radius: 20px" onclick="history.back()">Back</button>
                        <button type="button" class="btn btn-light mx-2 px-4 d-lg-inline-block" id="submitBtn"
                        style="border-radius: 20px" @click="submitSkill()" >Submit</button>
                    </div>
                </div>
                <img src="../Icons/Vector 1.png" alt="background">
                <p class="h1 position-absolute top-50 start-50 translate-middle" id="Header">
                    Create a new skill:
                </p>
            </div>
        </div>
        
        <div class="shadow p-3 mb-5 bg-white rounded" style="margin: auto; width: 90%;">
            <form class="row g-3 p-2">
                <div><span style="color:red">* Required</span></div>
                <div class="col-lg-6 col-md-6">
                    <h4><label for="inputSkill" class="form-label">Skill Name <span style="color:red">*</span></label></h4>
                    <textarea  v-model="Skill_Name" class="form-control" @input ="countSkillName(this.numSkillName)" rows="1"></textarea>
                    <div style="float: right;">
                        <span v-if ='numSkillName>=0'>{{numSkillName}}</span>  
                        <span v-else style="color:red">Exceed Word Limit: {{50-numSkillName}}/50</span> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h4><label for="inputStatus" class="form-label">Skill Status</label></h4>
                    <select id="inputStatus" class="form-select" v-model="Skill_Status">
                        <option value ='Active'>Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <h4><label class="form-label">Type of Skill   <span style="color:red">*</span></label></h4>
                    <textarea class="form-control" v-model='Type_of_Skill' placeholder="Type in Skill's Type"  @input ="countSkillType(this.numSkillType)"></textarea>
                    <div style="float: right;"> 
                        <span v-if ='numSkillType>=0'>{{numSkillType}}</span>  
                        <span v-else style="color:red">Exceed Word Limit: {{50-numSkillType}}/50</span> 
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <h4><label for="inputlevel" class="form-label">Level of Competencies <span style="color:red">*</span></label></h4>
                    <select id="inputlevel" class="form-select" v-model="Level_of_Competencies">
                        <option disabled value="">Please select one</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6">
                    <h4><label for="inputRoles" class="form-label">Role(s) Assigned (KIV-Sprint 3)</label></h4>
                    <input type="text" class="form-control" id="inputRoles">
                </div>
                <div class="col-lg-6 col-md-6">
                </div>
                <div class="col-lg-6 col-md-6">
                    <h4><label for="inputCourses" class="form-label">Course(s) Assigned (KIV-Sprint 3)  <span style="color:red">*</span></label></h4>
                    <input type="text" class="form-control" id="inputCourses" v-model="Course_assign">
                </div>
              </form>
        </div>


    </div>
    <script src='../js/hrCreateSkill.js'></script>


</body>

</html>