/* @import './base.css'; */

#app {
  margin: 0 auto;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

#Header {
  padding-left: 100px;
  margin: auto;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

#logo {
  position: absolute;
  left: 77px;
  top: 35.2px;
  width: 51.35px;
  height: 34.8px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  width: 40%;
  padding: 0;
  margin-left: 31%;
  margin-top: 25%;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}